
/* <-------  globals & defaults -------> */

*{ margin:0px; padding:0px; }

body{ font-family: sans-serif; color: #2F2D2A  ;}

header{	width: 100%;}

h1 {
	font-family: "LeagueGothicRegular",helvetica,arial,sans-serif;
	font-size: 28px;
	letter-spacing: 1px;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
	display: inline;
}

a{text-decoration:none;}


/* <-------  primary styles -------> */

.pagewidth{
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	width: 960px;	
}
	
#container{
	width:100%;
	padding: 0px;
}


/*****************************/
/* <-------  HEADER -------> */
/*****************************/

#container > header{
	background: #2F2D2A  ;
	border-bottom: 4px solid #DA3838 ;
	box-shadow: 0px 2px 0px #BABABA;
	height: 60px;
	position: fixed;	
	z-index: 5;
}

/* image */
#h-div-image{
	float:left;
	width:105px;
	height:100px;
	background-color: #2F2D2A ;
	border-bottom-right-radius: 50px;
	border-bottom:4px solid #DA3838;
	box-shadow: 0px 2px 0px #BABABA;
}

/* title */
#h-div-title > h1{
	font-family: monospace;
	font-size: 40px;
	color: #DA3838;
	letter-spacing: 8px;
	margin-left:25px;
	text-shadow: 2px 2px 4px #000000;

}


/* social-navigation */
#h-div-title > nav{
	float: right;
	padding-top: 6px;
	padding-right:10px;
}

#h-div-title > nav img{
	width: 35px;
	border-radius: 10px;
	background-color: rgb(218, 56, 56);
	border: 1px solid rgb(186, 186, 186);
	margin-left: 10px;
	cursor:pointer;
	box-shadow: 2px 2px 4px #000;
} 

#hsb-coll-link{
	display: none;
}


/*****************************/
/* <--------  MAIN --------> */
/*****************************/

#container > main{
	width:100%;
	position:absolute;
	padding-top:105px;
	background-image:url('../images/b1.png');
	background-repeat:repeat;
}

#container > main > aside{position:relative;}


#m-menu > div{
	float:left;
	margin:0px 0px 30px 30px;
	padding:8px;
	position:relative;
	background: #2F2D2A repeat scroll 0% 0%;
	border: 2px solid #BABABA;
	border-radius: 150px;
	width:280px;
	height:280px;
	cursor:pointer;
	transition: all 0.3s ease-in 0s;
}

#m-menu > div:nth-child(3n+1){
	clear:left;
	margin-left:0px;
}

#m-menu > div:hover{
	background: #BABABA repeat scroll 0% 0%;
	border: 2px solid #2F2D2A;	
}

.mnd-div,.mnd-div-x{
	position:absolute;
	margin:10px;
	max-width:260px;
	max-height: 260px;
	border-radius:130px;	
}

.mnd-div-x{
	opacity:0;
	z-index:1;
	transition: all 0.5s ease-in 0s;
}

.mnd-div img, .mnd-div-x img{
	border: 1px solid #BABABA;
	border-radius:130px;
	width:100%;
	height:100%;
	transition: all 0.3s ease-in 0s;
}


.mnd-header{
	display:none;
	position: relative;
	background: rgba(39, 33, 35, 0.9) none repeat scroll 0% 0%;
	/*padding: 15px 0px;*/
	text-align: center;
	transition: all 0.1s ease-in 0s;
	width: 280px;
	height: 100px;
}


/* **************************************** */
/* **************@MEDIA TYPES************** */
/* **************************************** */

@media only screen and (max-width: 960px){
    .pagewidth {
        width: 90%;
        padding: 0px 5%;
    }
}

