/*****************************/
/* <-- GLOBAL & DEFAULTS --> */
/*****************************/

*{ margin:0px; padding:0px;}

body{ font-family: sans-serif; color: #2F2D2A  ;}

header{	width: 100%;}

h1 {
	font-family: "LeagueGothicRegular",helvetica,arial,sans-serif;
	font-size: 28px;
	letter-spacing: 1px;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
	display: inline;
}

a{text-decoration:none;}
	
#container{
	width:100%;
	padding: 0px;
}


/*****************************/
/* <-------  HEADER -------> */
/*****************************/

#container > header{
	background: #2F2D2A  ;
	border-bottom: 4px solid #DA3838 ;
	box-shadow: 0px 2px 0px #BABABA;
	height: 60px;
	position: fixed;	
	z-index: 5;
}

/* image */
#h-div-image{
	float:left;
	width:120px;
	height:110px;
	padding-left:10px;
	background-color: #2F2D2A ;
	border-bottom-right-radius: 100px;
	border-bottom: 4px solid #DA3838;
	box-shadow: 0px 2px 0px #BABABA;
	border-bottom-left-radius: 60px;
}

#h-div-image img{
	border-radius: 100px;
}
#h-div-image img:hover{
	cursor:pointer;
}


/* title */
#h-div-title{
	margin-left: 150px;
	margin-right: 5%;
	padding: 7px 0px 0px;
	width: auto;	
}

#h-div-title > h1{
	font-family: monospace;
	font-size: 40px;
	color: #DA3838;
	letter-spacing: 8px;
	margin-left:25px;
	text-shadow: 2px 2px 4px #000000;
}


/* social-navigation */
#h-div-title > nav{
	float: right;
	padding-top: 6px;
	padding-right:10px;
}

#h-div-title > nav img{
	width: 35px;
	border-radius: 10px;
	background-color: rgb(218, 56, 56);
	border: 1px solid rgb(186, 186, 186);
	margin-left: 10px;
	cursor:pointer;
	box-shadow: 2px 2px 4px #000;
} 

#hsb-coll-link{
	display: none;
}


/*****************************/
/* <--------  MAIN --------> */
/*****************************/

#container > main{
	width:100%;
	position:absolute;
	padding-top:120px;
	background-image:url('../images/b1.png');
	background-repeat:repeat;
}

/* ****main menu section**** */
#m-section{
	width: 960px;
	padding:0px;
	margin-left: auto;
	margin-right: auto;
}

#m-menu{
	float: left;
	position: relative;
	width: 100%;	
}

#m-menu > div{
	float:left;
	margin:0px 0px 30px 30px;
	padding:8px;
	position:relative;
	background: #2F2D2A repeat scroll 0% 0%;
	border: 2px solid #BABABA;
	border-radius: 150px;
	width:280px;
	height:280px;
	cursor:pointer;
	transition: background,border 0.3s ease-in 0s;
}

#m-menu > div:nth-child(3n+1){
	clear:left;
	margin-left:0px;
}

#m-menu > div:hover{
	background: #BABABA repeat scroll 0% 0%;
	border: 2px solid #2F2D2A;	
}

/*images*/
.mnd-div,.mnd-div-x{
	position:absolute;
	margin:10px;
	max-width:260px;
	max-height: 260px;
	border-radius:130px;	
}

.mnd-div-x{
	opacity:0;
	z-index:1;
	transition: all 0.5s ease-in 0s;
}

.mnd-div img, .mnd-div-x img{
	border: 1px solid #BABABA;
	border-radius:130px;
	width:100%;
	height:100%;
	transition: all 0.3s ease-in 0s;
}

/*images' headers*/
.mnd-header{
	position: absolute;
	opacity:0.0;
	background: url("../images/b2.png");
	text-align: center;
	transition: opacity 0.4s ease-in 0s;
	width: 296px;
	height: 148px;
	top: 148px; 
	z-index: 2;
	margin-left: -10px;
	border-bottom-left-radius: 150px;
	border-bottom-right-radius: 150px;
	border: 2px solid #2F2D2A;
	border-top:none;
}

.mnd-header > h2{
	padding-top: 65px;
	colour: #2F2D2A;
}


/* ****secondary left menu**** */
#s-menu{
	display: none;
	position: fixed;
	float: left;
	width: 150px;
	height: 100%;
	top:70px;	
}
#s-menu > nav > header{
	height: 55px;
	border-bottom: 1px dotted #BABABA;
	background:#2F2D2A repeat scroll 0% 0%;
	border-top-right-radius: 10px;
	border:1px solid #BABABA;
	border-left:none;
}
#lm-img{
	display:none;
	margin-right:5px;
	margin-top:30px;
	width:22px;
	float:right;
}

#lm-img:hover{
	cursor:pointer;
}


#s-menu > nav > a{
	width: 150px;
	border: 1px solid white;
	display: block;
	text-align: center;
	padding: 10px 0px;
	color:#da3838;
	font-weight: bold;
	margin: 5px 0;
	border-radius: 20px;
	background:#2F2D2A repeat scroll 0% 0%;
	
}


#art-section{
	margin: 0px 0% 0px 150px;	
}

#art-section > article{
	display: none;
	margin:20px;
	border: 5px solid;
	border-radius: 20px;
	padding: 5px 20px;
	background:#bababa;
	text-align: justify;
	line-height:160%;
}

#art-section > article > header > img{
	width: 150px;
	border-radius: 150px;
	margin-top: -70px;
	margin-left: -25px;
	margin-right: 20px;
	float: left;
	border: 5px solid;
}

#art-section > article > header > h2{
	padding-top:10px;
}
#art-section > article > header > h3{
	padding-top:5px;
	padding-bottom:10px;
	margin-left: 130px;
	border-bottom: 1px dotted #2f2d2a;
	font-size: 15px;
}

#art-section > article > header +p{
	padding-top:30px;	
}

#art-section > article > p{
	padding-top:10px;
	margin:0px 20px;
}

/* **************************************** */
/* **************@MEDIA TYPES************** */
/* **************************************** */


@media only screen and (max-width: 960px){
   	#m-section{
		padding: 0px 5%;
		width: 90%;
	}
	
	#m-menu{
		float: none;
		margin: 0px auto;
		position: relative;
		width: 630px;
	}
	
   	#m-menu > div:nth-child(3n+1){
		clear:none;
		margin-left:30px;
	}

    #m-menu > div:nth-child(2n+1){
		clear:left;
		margin-left:0px;
	}
	
	
}

@media only screen and (max-width: 690px){
	#m-menu{
		float: left;
		margin: 0px,;
		width: 100%;
	}
	#m-menu > div:nth-child(3n+1){
		clear:left;
		margin-left:0px;
	}
	#m-menu > div{
		display:block;
		box-sizing: border-box;
		background: none;
		border-width: 1px 0px;
		border-style: dotted;
		border-color: #DCDCDC;
		border-radius: 150px;
		float: left;
		margin: 0px 0px 10px;
		overflow: hidden;
		padding: 0px;
		position: relative;
		width: 100%;
		height: auto;
		transition:none;
	}
	.mnd-header{
		padding:0px;
		margin:0px;
		left: 45%;
		top: 20%;
		width: 55%;
		height: 60%;
		transition:none;
	}
	
	.mnd-div{
		box-sizing: border-box;
		background: #D0D0D0 none repeat scroll 0% 0%;
		border: 1px solid #B9B9B9;
		border-radius: 50%;
		padding: 4px;
		position: absolute;
		width: 40%;
		height: auto;		
	}
	.mnd-div > img{
		margin-bottom: -5px;
		transition:none;
	}
	.mnd-div-x{
	box-sizing: border-box;
		background: #D0D0D0 none repeat scroll 0% 0%;
		border: 1px solid #B9B9B9;
		border-radius: 50%;
		padding: 4px;
		position: relative;
		width: 40%;
		height: auto;	
	}
	.mnd-div-x > img{
		margin-bottom: -5px;
		transition:none;
	}
	.mnd-header{
		background: none;
		transition: none;
		border: none;
	}
	.mnd-header > h2{
		padding-top: 0px;
	}
	
	#art-section{
		margin: 0px;	
	}
	#art-section > article > header > img{
		width: 75px;
		border-radius: 75px;
		margin-top: -15px;
		margin-left: -40px;
		margin-right: 15px;
		float: left;
		border: 5px solid;
	}
	#lm-img{
		display:block;
		-ms-transform: rotate(0deg); /* IE 9 */
	    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
	    transform: rotate(0deg);
	}
	#art-section > article{
		line-height:100%;
	}
	#art-section > article > header +p{
		padding-top:20px;	
	}
	#art-section > article > p{
		margin:0px 5px;
	}
	#art-section > article > header > h3{
		margin-left:0px;
	}
}